body {
  padding: 0;
  font-family: sans-serif;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* background-color: #0E0E18; */
  background-color: white;

}

.app {
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submit button {
  padding: 5px 10px;
  /* Adjust padding as needed */
}

.link-Login {
  margin-top: 5px;
}

.listButtons {
  margin-Left: 10;
  width: 20%;
}

.task {
  margin: auto;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  align-items: center;
  padding: 20px;
}

.taskMain {
  text-align: center;
}

.addButton {
  height: 55;
  margin-Bottom: 30;
  background-color: blue;
}

.Edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textField {
  width: 50%;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.login-form .MuiTextField-root {
  margin-bottom: 10px;
}


.task-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.Header {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.DrawerPosition {
  align-self: flex-start;
}

.logoutPosition {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
}

.logoutContainer {
  display: flex;
  align-items: center;
  /* Vertically center children */
}

.userProfile-fields {

  margin-top: 25px;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.userField {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 10px;
}

.edit-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-button {
  margin-right: 10px;
}

.edit-button {
  margin-right: 5px;
}

.user-form-fields {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.profile-right {
  margin-left: 50px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Creates 2 columns */
  grid-gap: 10px;
  /* Gap between grid items */
  margin-top: 50px;
  margin-top: 30px;
}

.home-item {
  border: 1px solid #000;
  padding: 10px;
}

.home-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.task-form {
  width: 50%;
  display: flex;
}

.task-form-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfilePhotoContainer {
  align-items: center;
}

.ProfilePhotoItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.type-task-form {
  width: 50%;
}

@media (max-width:500px) {

  .home-container {
    display: flex;
    flex-direction: column;
  }

  .task-form {
    display: flex;
    flex-direction: column;
  }

  .type-task-form {
    width: 100%;
  }

  .user-form-fields {
    display: flex;
    flex-direction: column-reverse;
  }

  .profile-right {
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .edit-button-container {
    display: flex;
    flex-direction: column;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
  }

}

.ola {
  margin-right: 10px;
  /* Spacing between text and button */
}

.filter {
  display: flex;
  margin-top:30px;
  align-items: center;
  justify-content: center;

}

.filter > button {
  background-color: #62807e;
  width: 30%;
  margin-bottom: 5px;
  margin-right: 5px;
}

